<svg
  class="sumi-bar-chart__svg"
  [attr.viewBox]="'0 0 ' + plot().width + ' ' + plot().height"
  preserveAspectRatio="xMidYMid meet"
  role="img"
  [attr.aria-label]="ariaLabel()"
>
  <text class="sumi-bar-chart__max" x="0" [attr.y]="plot().top - 4">{{ maxValue() }}</text>

  @if (!stacked()) {
    @for (bar of singleBars(); track bar.label; let i = $index) {
      <rect
        class="sumi-bar-chart__bar"
        [class.sumi-bar-chart__bar--highlight]="bar.highlight"
        [attr.x]="bar.x"
        [attr.y]="bar.y"
        [attr.width]="bar.width"
        [attr.height]="bar.height"
      >
        <title>{{ bar.label }}: {{ bar.value }}</title>
      </rect>
      @if (labelIndices().has(i)) {
        @let pos = labelAnchor(i, bar.x, bar.width);
        <text
          class="sumi-bar-chart__label"
          [attr.x]="pos.x"
          [attr.y]="plot().height - 4"
          [attr.text-anchor]="pos.anchor"
        >
          {{ bar.label }}
        </text>
      }
    }
  } @else {
    @for (column of stackedBars(); track column.label; let i = $index) {
      @for (segment of column.segments; track segment.key) {
        <rect
          class="sumi-bar-chart__bar"
          [attr.x]="column.x"
          [attr.y]="segment.y"
          [attr.width]="column.width"
          [attr.height]="segment.height"
          [attr.fill]="segment.color"
        >
          <title>{{ column.label }} / {{ segment.key }}: {{ segment.value }}</title>
        </rect>
      }
      @if (labelIndices().has(i)) {
        @let pos = labelAnchor(i, column.x, column.width);
        <text
          class="sumi-bar-chart__label"
          [attr.x]="pos.x"
          [attr.y]="plot().height - 4"
          [attr.text-anchor]="pos.anchor"
        >
          {{ column.label }}
        </text>
      }
    }
  }

  <line
    class="sumi-bar-chart__baseline"
    [attr.x1]="plot().left"
    [attr.x2]="plot().width - plot().right"
    [attr.y1]="plot().height - plot().bottom"
    [attr.y2]="plot().height - plot().bottom"
  />
</svg>

@if (table()) {
  <details class="sumi-bar-chart__table">
    <summary>Show as table</summary>
    <sumi-data-table [columns]="tableColumns()" [rows]="tableRows()" />
  </details>
}
